.toogle{
  margin-top: 20px;
  margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.registerLink{
    display: flex;
    justify-content: space-between;
    height: 10%;

}

.loginfoot{
    display: flex;
    align-self: flex-end;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.devise{
  color: white;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}


