.toogle{
    display: flex;
    justify-content: space-between;
}

.registerLink{
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;

}

.loginfoot{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
