<div class="loginContainer">
  <div class="loginForm">
    <div class="devise">
      <p >Nice to see you again</p>
    </div>

    <app-input
      (inputEmitter)="validEmail($event)"
      id="idEmail"
      type="email"
      placeholder="Email or Phone number"
      label="Login"
      name="email"
      style="background-color: #d0c6c6"
    ></app-input>

    <div class="inputPassword">
      <app-input
      (inputEmitter)="validPassword($event)"
        id="idPassword"
        type="password"
        placeholder="Enter password"
        label="Password"
        name="Password"
        style="background-color: #d0c6c6"
      >
      </app-input>
    </div>

    <div class="toogle">
      <div>
        <img src="/assets/img/Switcher-Item-Left.png" alt="remember me" />
      </div>

      <div>
        <a routerLink="/forgetpassword">
          <img src="/assets/img/forgetpass.png" alt="forgot password" />
        </a>
      </div>
    </div>

    <div class="buttons">
      <app-button class="blueButton" name="Sign In"></app-button>

      <app-button
        class="blackButton"
        name="Or sign with Google"
        src="/assets/img/logoGoogle.png"
        alt="logo de google"
      >
      </app-button>
    </div>

    <div class="registerLink">
      <div>
        <img src="/assets/img/doYhaveAccount.png" alt="" />
      </div>

      <div>
        <a routerLink="/register">
          <img src="/assets/img/signUp.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
