
<div class="rootContainer">

   <div class="imagContainer">
      <span class="imageMer">
        <img src="/assets/img/Rectangle 2756.png" alt="phare en bors de mer" />
      </span>
    </div>
    
    <div class="sideContainer">

      <div class="logo">
         <img src="/assets/img/UI-Unicorn-Logo.svg" alt="logo Unicorn" />
       </div>

       <router-outlet> </router-outlet>

       <div class="loginfoot">
         <div>
           <img src="/assets/img/Frame 28987.png" alt="logo figma" />
         </div>

         <div>
           <img src="/assets/img/copy.png" alt="" />
         </div>
       </div>
     </div>


    </div>
