<div class="rootContainer">
  <div class="imagContainer">
    <span class="text blue">Octom</span>
    <span class="text red">Octom</span>
    <span class="text green">Octom</span>
  </div>

  <div class="sideContainer">
    <div class="logo">
      <a routerLink="">
        <img src="/assets/img/logoAlone.png" alt="logo Octom" />
      </a>
      <p>Octom</p>
    </div>

    <router-outlet> </router-outlet>

    <div class="loginfoot">
      <div>
        <img src="/assets/img/Frame 28987.png" alt="logo figma" />
      </div>

      <div>
        <img src="/assets/img/copy.png" alt="" />
      </div>
    </div>
  </div>
</div>
